*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    background: rgb(245,244,248);
    scroll-behavior: smooth;
}

h1{
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-size: 2.65em;
    padding-bottom: 3vh;
    font-weight: bolder;
}

#nav-con{
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    border: 5px solid white;
    background: rgb(255, 255, 255);
    height: 7vh;
    align-items: center;
    padding-left: 2vw;
}

#icons{
    line-height: 4.6vh;
    display: flex;
    margin-left: auto;
    gap: 10%;
    padding-right: 2vw;
}

#notifications{
    text-align: center;
    background-color: rgb(245,244,248);
}



#user{
    background-image: url(./assets/avatar-5.jpg);
    background-size: cover;
}

#hero-con{
    color: white;
    display: flex;
    justify-content: center;
    height: 45vh;
    background: rgb(117, 80, 254);
    width: 100%;
}

#hero-con > #hero-text{
    padding: 5vh;
    justify-self: center;
    width: 35vw;
    padding-right: 6vw;

}

#hero-text > p {
    opacity: 0.6;
}

#buttons{
    font-weight: bold;
    padding-top: 1vw;
    display: flex;
    /* justify-content: space-between; */
    gap: 1%;
}


.top-buttons{
    background-color: white;
    height: 6vh;
    width: 10vw;
    border-radius: 5px;
    line-height: 6vh;
    text-align: center;
}

.top-buttons:hover{
    cursor: pointer;
}

#box1{
    background: rgb(26,203,152);
}

#box2{
    color: black;
}

#hero-text > p {
    font-size: 1.4em;
}

#info-con{
    font-size: .8em;
    display: flex;
    justify-content: center;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    gap: 15vw;
}

#info-con > div{
    width: 10vw;
}

.heading-text{
    margin-left: 36vh;
    margin-top: 15vh;
}

#card-con{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

#recommend-cards{
    display: flex;
    margin-top: 3vh;
    gap: 5%;
}

.card{
    display: flex;
    flex-direction: column;
    background: white;
    width: 18vw;
    height: 20vw;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.circle{
    align-self: center;
}

#circle{
    line-height: 32px;
    color: white;
}

.small-circle{
    height: 4.6vh;
    width: 5vh;
    border-radius: 50%;
    background-color: black;
}

#card-text{
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2.5vh;
}

#js{
    display: flex;
}

.card-img-radius{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-img{
    display: flex;
    width: 100%;
    height: 37%;
}

#js-img{
    background-image: url(./assets/course-javascript.jpg);
    background-size: cover;
}

#node-img{
    background-image: url(./assets/course-node.jpg);
    background-size: cover;
}

#graph-img{
    background-image: url(./assets/course-graphql.jpg);
    background-size: cover;
}

#laravel-img{
    background-image: url(./assets/course-laravel.jpg);
    background-size: cover;
}

.star{
    height: 2vh;
    user-select: none;
}

.star-line{
    height: 2vh;
    opacity: 0.5;
    user-select: none;
}

.yellow{
    color: rgb(255, 187, 0);
}

hr{
    width: 75vw;
    opacity: 0.2;
}

#footer-con{
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: center;
}

.course-info{
    word-spacing: 2px;
}

.small{
    padding-left: 0.3vw;
    font-size: 0.75em;
    opacity: 0.4;
}

.price{
    font-weight: bolder;
    
}

.scored{
    text-decoration: line-through;
    font-size: 0.7em;
    opacity: 0.5;
}

.author{
    line-height: 3.6vh;
    border-top: 1px solid rgb(245,244,248);
    display: flex;
    justify-content: center;
    
}
    